
<% if user_signed_in? %>

<% else %>

<div class="box">

    <div >
        <h1 class="h1-1">My Basecamp</h1>
        <div class="box-header">
            <%= link_to "Sign Up!", new_user_registration_path , class:"btn btn-primary m-5" %>
             <%= link_to "Login", new_user_session_path , class:"btn btn-primary m-5"%>
        </div>
     </div>
<% end %>
</div>
